{% extends 'base.admin.html.twig' %}

{% block title %}时尚新娘管理后台{% endblock %}

{% block body %}
    <div class="fe-personal" ng-controller="PersonalController">
        <div class="container">
            <div class="row fe-personal-bg">
                <div class="fe-personal-left">
                    <ul>
                        <li class="active" ng-click="jumpToStep(1)"><div>1. 基本信息</div></li>
                    </ul>
                </div>
                <div class="fe-personal-right">
                    <div class="row fe-personal-description fe-m0">
                        <strong>必填信息</strong>
                    </div>
                    <div class="row fe-form fe-m0">
                        <div class="col-md-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">手机号</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" class="fe-disable" placeholder="在这里输入手机号" ng-model="telephone" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">微信号</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入微信号" ng-model="wechat" ng-class="{'fe-error': wechatValid == false}" />
                            </div>
                        </div>
                        <div class="col-md-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">真实姓名</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" class="fe-disable" placeholder="在这里输入真实姓名" ng-model="name" disabled />
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">身份证号</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" class="fe-disable" placeholder="在这里输入身份证号" ng-model="identityCard" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row fe-personal-description fe-m0 bottom">
                        <strong>选填信息</strong>
                    </div>
                    <div class="row fe-form fe-m0">
                        <div class="col-md-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">公司名称</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入公司名称" ng-model="company" />
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">公司所在地</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入公司所在地" ng-model="companyLocation" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="fe-form-top"><span class="fe-form-title">公司简介</span></div>
                            <div class="fe-form-bottom">
                                <textarea placeholder="在这里输入公司简介" rows="6" ng-model="companyIntro"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-5 fe-p0 middle fe-pt20">
                            <div class="fe-btn next" ng-click="save()">保存修改</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/admin/personal.js') }}"></script>
{% endblock %}