{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-info" ng-controller="AwardsController">
        <div class="container">
            <div class="row fe-info-bg">
                <div class="fe-info-left">
                    <ul>
                        <li ng-class="{'active': awardsStep == 1}" ng-click="jumpToStep(1)"><div>奖项设置</div></li>
                    </ul>
                </div>
                <div class="fe-info-right">
                    <div ng-show="awardsStep == 1" class="row fe-m0">
                        <div class="info-title">
                            2016年度十佳婚尚策划大奖
                        </div>
                        <div class="info-sub-title">
                            奖项介绍
                        </div>
                        <div class="info-desc">
                            <p class="indent">全国范围内征集婚庆公司（机构）、独立婚礼人在2014年10月1日至2016年12月10日之间完成的，真实且内容积极健康的婚礼创意及流程策划实例。结合网络投票结果和大赛专家评委组投票商议评选，产生年度十佳婚尚策划大奖。</p>
                        </div>
                        <div class="info-title">
                            2016年度十佳婚尚设计大奖
                        </div>
                        <div class="info-sub-title">
                            奖项介绍
                        </div>
                        <div class="info-desc">
                            <p class="indent">全国范围内征集婚庆公司（机构）、独立婚礼人在2014年10月1日至2016年12月10日之间举办的，真实且内容积极健康的婚礼宴会现场实例。结合网络投票结果和大赛专家评委组投票商议评选，产生年度十佳婚尚设计大奖。</p>
                        </div>
                        <div class="info-title">
                            2016年度十佳婚尚花艺大奖
                        </div>
                        <div class="info-sub-title">
                            奖项介绍
                        </div>
                        <div class="info-desc">
                            <p class="indent">全国范围内征集花艺设计公司（机构）、独立花艺师在2014年10月1日至2016年12月10日之间举办的真实且内容积极健康的婚礼花艺设计实例。结合网络投票结果和大赛专家评委组投票商议评选，产生2016年度十佳婚尚花艺大奖。</p>
                        </div>
                        <div class="info-title">
                            2016年度十佳婚尚场地大奖
                        </div>
                        <div class="info-sub-title">
                            奖项介绍
                        </div>
                        <div class="info-desc">
                            <p class="indent">全国范围内征集酒店、婚礼堂、会所、其他活动空间在2014年10月1日至2016年12月10日之间举办的真实且内容积极健康的婚礼现场实例。结合网络投票结果和大赛专家评委组投票商议评选，产生2016年度十佳婚尚场地大奖。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/controller/awards.js?v=2') }}"></script>
{% endblock %}