{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-casus" ng-controller="CasusController">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 fe-p0 cover">
                    <img class="fe-width" ng-src="{[{ casusBg }]}@1218w_284h_1e_1c" />
                    <img class="fe-width cover-shade" src="{{ asset('img/fantastic/info/cover.png') }}" />
                    <div class="cover-text">
                        {[{ casus.title }]}
                    </div>
                </div>
                <div class="col-xs-12 casus-content">
                    <div class="col-xs-9 content-left">
                        <div class="col-xs-12 casus-description">
                            『&nbsp;{[{ casus.description }]}&nbsp;』
                        </div>
                        <div class="col-xs-12 casus-content" ng-bind-html="contentHtml"></div>
                    </div>
                    <div class="col-xs-3 content-right">
                        <div class="row" ng-if="casus.awardNumber > 0">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="desc-title">策划师</span>
                            </div>
                            <div class="col-xs-12 desc-content">
                                {[{ casus.name }]}
                            </div>
                        </div>
                        <div class="row" ng-if="cbwaUser.company != '' &&  casus.awardNumber > 0">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span class="desc-title">公司</span>
                            </div>
                            <div class="col-xs-12 desc-content">
                                {[{ cbwaUser.company }]}
                            </div>
                        </div>
                        <div class="row" ng-if="casus.awardNumber > 0">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-tag"></span>
                                <span class="desc-title">价格区间</span>
                            </div>
                            <div class="col-xs-12 desc-content">
                                {[{ casus.price }]}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span class="desc-title">地区</span>
                            </div>
                            <div class="col-xs-12 desc-content">
                                {[{ casus.region }]}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-move"></span>
                                <span class="desc-title">场地</span>
                            </div>
                            <div class="col-xs-12 desc-content">
                                {[{ casus.place }]}
                            </div>
                        </div>
                        <div class="row" ng-if="casus.awardNumber > 0">
                            <div class="col-xs-12 fe-p0">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="desc-title">选送奖项</span>
                            </div>
                            <div class="col-xs-12 desc-content" ng-repeat="award in casus.awardList">
                                {[{ award.name }]}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('casus', '{{ casus | json_encode | escape('js') }}');
        app.value('cbwaUser', '{{ cbwaUser | json_encode | escape('js') }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/controller/casus.js?v=1') }}"></script>
{% endblock %}