{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-register" ng-controller="ExtraController">
        <div class="container register">
            <div class="row fe-register-title">
                尊敬的参赛者
            </div>
            <div class="row fe-register-description">
                请填写您的<strong>真实信息</strong>
            </div>
            <div class="row fe-form">
                <div class="col-xs-6 left">
                    <div class="fe-form-top"><span class="fe-form-title">个人/机构名称</span></div>
                    <div class="fe-form-bottom">
                        <input type="text" placeholder="在这里输入个人/机构名称" ng-model="name" ng-class="{'fe-error': nameValid == false}" />
                    </div>
                </div>
                <div class="col-xs-6 right">
                    <div class="fe-form-top"><span class="fe-form-title">身份证号（领奖人）</span></div>
                    <div class="fe-form-bottom">
                        <input type="text" placeholder="在这里输入身份证号（领奖人）" ng-model="identityCard" ng-class="{'fe-error': identityCardValid == false}" />
                    </div>
                </div>
                <div class="col-xs-6 left">
                    <div class="fe-form-top"><span class="fe-form-title">微信号</span></div>
                    <div class="fe-form-bottom">
                        <input type="text" placeholder="在这里输入微信号" ng-model="wechat" ng-class="{'fe-error': wechatValid == false}" />
                    </div>
                </div>
            </div>
            <div class="row fe-register-description">
                以下为<strong>选项信息</strong>
            </div>
            <div class="row fe-form">
                <div class="col-xs-6 left">
                    <div class="fe-form-top"><span class="fe-form-title">公司名称</span></div>
                    <div class="fe-form-bottom">
                        <input type="text" placeholder="在这里输入公司名称" ng-model="company" />
                    </div>
                </div>
                <div class="col-xs-6 right">
                    <div class="fe-form-top"><span class="fe-form-title">公司所在地</span></div>
                    <div class="fe-form-bottom">
                        <input type="text" placeholder="在这里输入公司所在地" ng-model="companyLocation" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="fe-form-top"><span class="fe-form-title">公司简介</span></div>
                    <div class="fe-form-bottom">
                        <textarea placeholder="在这里输入公司简介" rows="6" ng-model="companyIntro"></textarea>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-5 fe-p0 middle fe-pt20">
                    <div class="fe-btn next" ng-click="commit()">提交</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/controller/extra.js') }}"></script>
{% endblock %}