{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-info" ng-controller="InfoController">
        <div class="container">
            <div class="row fe-info-bg">
                <div class="fe-info-left">
                    <ul>
                        <li ng-class="{'active': infoStep == 1}" ng-click="jumpToStep(1)"><div>大赛简介</div></li>
                        <li ng-class="{'active': infoStep == 2}" ng-click="jumpToStep(2)"><div>大赛规则</div></li>
                        <li ng-class="{'active': infoStep == 3}" ng-click="jumpToStep(3)"><div>报名方式</div></li>
                        <li ng-class="{'active': infoStep == 4}" ng-click="jumpToStep(4)"><div>主办方介绍</div></li>
                    </ul>
                </div>
                <div class="fe-info-right">
                    <div ng-show="infoStep == 1" class="row fe-m0">
                        <div>
                            <img class="fe-width" src="http://cosmolove.image.alimmdn.com/cbwa/common/banner_1.jpg?v=3" />
                        </div>
                        <div class="info-title">
                            大赛简介
                        </div>
                        <div class="info-desc">
                            <p class="indent">文化是人类的精神家园，通过文化传承一个民族生生不息的血脉。婚礼，在中国原为“昏礼”，属于汉族传统文化精粹之一，是华夏文化的重要组成部份。中国传统婚礼,有着上千年的历史以及独具风格的传统喜文化特征，亚洲婚礼文化也是以中国传统文化为基础发展起来的。时代变迁，西式婚礼、创意婚礼也逐渐成为中国当代新人的选择。新式婚礼和传统婚礼的融合，让传统文化精髓在现实生活中散发独特魅力。</p>
                            <p class="indent">婚礼创意设计是融合多元文化，运用不同载体而构建的创新文化现象，其最核心的价值就是最大限度地发挥人的创造力，让文化通过载体传承，并产生经济价效益。</p>
                            <p class="indent">时尚新娘和婚道联合主办，百合网百合婚礼、婚礼大亨合办的“全国婚礼作品设计大赛”，响应国家关于发展文化产业的号召，其创办宗旨是充分发扬"全民创意，人人都是设计师"的精神，致力搭建一个全新的中国婚礼文化创新平台，从而激发全行业的创造力。</p>
                            <p class="indent">为此我们积极调整参赛人群结构，希望建立专业机构、个体、创意者组合的参赛群体，并以前所未有的广度和深度挖掘社会创意资源，为打造文化创意强国和为国家文化发展事业而尽一份力。</p>
                            <p class="indent">“全国婚礼作品设计大赛”将国际重大活动、政府需求、社会需求和企业需求作为创意内容和服务对象，评审团队由国内外最具影响力的著名行业专家、设计大师和相关领域杰出人士组成，通过具有国际视野的评审标准和观念来影响中国婚礼文化创意发展的方向，以赛事的形式推动婚尚消费创意产业的健康发展。</p>
                        </div>
                    </div>
                    <div ng-show="infoStep == 2" class="row fe-form fe-m0">
                        <div class="info-title">
                            大赛规则
                        </div>
                        <div class="info-sub-title">参赛者</div>
                        <div class="info-desc">
                            <p>1. 不限地域、不限公司、不限年龄，机构和个人均可参赛。</p>
                            <p>2. 所有参赛机构必须填明机构资料（包括机构工商登记名称、联系人、地址、电话、Email地址）和对参赛婚礼作品的详细说明。<br />所有个人参赛者必须填明个人资料（包括生日、地址、电话、Email地址）和对参赛婚礼作品的详细说明。</p>
                            <p>3. 比赛组委会享有永久免费使用参赛者作品的权力，可以重复使用这些图片和视频进行出版和展览，并在使用过程中尊重参赛者的署名权。</p>
                            <p>4. 获奖作品照片有可能在公布比赛结果时在媒体上发表，并同时纳入“全国婚礼作品设计大赛”的网络图片库和时尚新娘、时尚致爱的档案馆。</p>
                            <p>5. 部分获奖者所提供的照片如有质量问题，可能会影响到发布、出版和展览，组委会有权向其本人或机构索要高质量的底片复制件或电子文档。这些复制底片或文件将由“全国婚礼作品设计大赛”组委会认真保管。</p>
                            <p>6. 参赛者确保对参赛作品享有版权。作品涉及肖像权事宜由参赛者自负，时尚致爱和时尚新娘、婚道不承担法律责任。</p>
                            <p>7. 若有第三方对图片中所反映的人、建筑或其他事物提出权利方面的声明或不满，参赛者应对图片可能引发的法律事务负全部相关责任。</p>
                            <p>8. 不遵守参赛规则或不能满足参赛条件的参赛者将被视为不合格的参赛者。</p>
                            <p>9. 在参赛规则上阐述的条款具有约束力。</p>
                            <br />
                            <br />
                        </div>
                        <div class="info-sub-title">参赛权益</div>
                        <div class="info-desc">
                            <p>1. 推广权<br />所有参评婚礼机构、独立策划师报名即可获得参赛案例在《时尚新娘》官网、《时尚新娘》官方微博、《时尚新娘》微信公众号等多渠道，为期1个月的专题线上推广。</p>
                            <p>2. 认证权<br />我们将以授予获奖的婚礼机构及独立策划师《时尚新娘》官方认证商家的挂牌。</p>
                            <p>3. 联盟权<br />获奖者将有机会优先升级为《时尚新娘》高端婚尚联盟成员，可以优先或免费参与《时尚新娘》的线下推广活动、峰会论坛、培训课程、出国考察、参与明星婚礼执行等权益，且联盟成员将共享平台资源。</p>
                            <p>4. 推荐权<br />获奖者将成为《时尚新娘》明星婚礼优先推荐商家。2017年，一大波明星婚礼即将来袭！</p>
                            <p>5. 刊发权<br />获奖者的获奖案例将拥有时尚新娘大赛特刊/图书的优先刊发权。</p>
                            <p>6. 优先权<br />获奖机构或独立策划师将成为时尚新娘用户导流优先推荐商家。我们将不定期联合重点城市的异业组织，如超跑俱乐部、高尔夫俱乐部等举办联谊PARTY或时尚沙龙，获取当地的优质准婚客户。</p>
                            <p>7. 直播权<br />获奖机构及个人将受邀在《时尚新娘》的直播平台直播获奖案例的讲解推广，向150万+时尚新娘的粉丝分享你的美！</p>
                            <p>8. 专访权<br />我们将在赛事评选结束后对获奖机构和个人进行后续的专访报道，助力您声名远播！</p>
                            <p>9. 受邀权<br />获奖机构及个人将受邀与当红影视明星一同出席亚洲最明星级婚尚颁奖礼“时尚新娘婚尚盛典”。</p>
                            <p>10. 获赠权<br />凡获奖机构及个人均可免费获赠2017年《时尚新娘》出版的刊物。</p>
                            <br />
                            <br />
                        </div>
                        <div class="info-sub-title">参赛作品要求</div>
                        <div class="info-desc">
                            <p>1. 婚礼必须是在2014年10月1日至2016年12月10日之间举办的。</p>
                            <p>2. 比赛接受彩色照片、黑白照片、数码照片。</p>
                            <p>3. 要求照片是JPG格式，宽 X 高为500mm X 500mm以内，像素150dpi以上。</p>
                            <p>4. 所有婚礼作品必须写清主题，举办及拍摄的地点和时间，提交300-500字的婚礼作品介绍，叙述策划、创意、搭配、以图片记录执行表现的过程。单幅照片要有简明图说。</p>
                            <p>5. 参赛作品图片文件必须与个人详细资料和图说等一同寄出，作品及单幅图片的说明必须用中文。</p>
                            <p>6. 作为系列作品参赛的作品，可以同时投送不同类别的比赛。</p>
                            <p>7. 评委会的决定视为最终决定，不接受任何申诉。</p>
                            <p>8. 获奖作品一旦发现有违背参赛要求的，一经证实，立即取消获奖资格</p>
                            <br />
                            <p class="fe-weight">注：图片提报者必须保证图片得到版权所有人的版权许可。</p>
                        </div>
                    </div>
                    <div ng-show="infoStep == 3" class="row fe-form fe-m0">
                        <div class="info-title">
                            报名方式
                        </div>
                        <div class="info-sub-title">基本规则</div>
                        <div class="info-desc">
                            <p class="indent">一个参赛作品可以同时报名参评四个奖项角逐。</p>
                            <p class="indent">例如，一个婚礼案例作品可同时报名参加十佳婚尚策划、十佳婚尚设计、十佳婚尚花艺、十佳婚尚场地的评选，也可以用不同的案例作品参加相应奖项的评选。</p>
                            <br />
                        </div>
                        <div class="info-sub-title">报名费用</div>
                        <div class="info-desc">
                            <p class="indent">按类别分别收取报名费用，每类奖项参赛报名费&nbsp;<a>600.00</a>&nbsp;元。</p>
                            <br />
                        </div>
                        <div class="info-sub-title">作品提交方式</div>
                        <div class="info-desc">
                            <p class="indent">访问“全国婚礼作品设计大赛”官方网站&nbsp;<a href="http://www.ccbride.com/pub/cbwa">http://www.ccbride.com/cbwa</a>&nbsp;并注册后，点击“我要参赛JOIN!”提交您的参赛作品的电子版。</p>
                        </div>
                    </div>
                    <div ng-show="infoStep == 4" class="row fe-form fe-m0">
                        <div class="info-title">
                            主办方介绍
                        </div>
                        <div class="info-sub-title">时尚新娘</div>
                        <div class="info-desc">
                            <p class="indent">作为中国领军婚尚全媒体，《时尚新娘》多年来致力于带动婚尚潮流，传播优质生活方式，介绍行业专家名人，推动产业优质化发展，成为行业影响里和美誉度第一的传媒品牌。《时尚新娘》于2013年发起中国高端婚尚联盟，对于高端婚尚行业标准规范建设、婚尚文化传播、国际国内婚尚行业交流、婚尚产品推广等领域起到了极大地推动。</p>
                            <p class="indent">2016年，《时尚新娘》由媒体转型升级为内容消费型科技文化公司“时尚致爱”，并推出“时尚新娘”APP。新产品以新婚人群需求为出发，不仅提供来自全球的婚尚潮流资讯、名师策划案例、明星婚礼典范，同时，以专业眼光及角度，优选全国甚至全球优质婚礼服务商及个人入驻平台，通过编辑内容、婚礼顾问、生活方式达人的专业指导，新人用户的在线分享， 帮助消费者以最小的时间成本和经济成本，挑选到最符合自己需求的可信可靠婚礼供应商。这样的精致化设计产品思路，以及内容呈现，颠覆了大而全的黄页及搜索型产品，对B端和C端的需求及互动行为进行精细化管理，符合互联网消费升级的市场趋势，以及婚礼消费这一重决策高额场景化消费的用户需求。</p>
                            <p class="indent">为了更好地服务婚礼消费群体，帮助行业服务品牌及个人建立更加优质的宣传及营销通路，时尚致爱创始团队聚合了时尚消费、商务运营、互联网技术领域的高级人才。近日，百合网战略投资时尚致爱，也是双方企业发展理念一致的结果。两个优质品牌的强强联合，将实现资源优势互补，开展多层面的业务合作。</p>
                            <p class="indent">秉持最优最美原则，时尚致爱以及全新的时尚新娘APP，必将立足优选标准和公正态度，以精致美好的应用产品、丰富内容产品、时尚优雅年轻丰富的视觉和审美标准，帮助中国每年数千万的新婚消费者，实现“人生中最美的一天，和幸福的很多天”。</p>
                            <br />
                            <br />
                        </div>
                        <div class="info-sub-title">中国婚道·婚嫁产业研究院</div>
                        <div class="info-desc">
                            <p class="indent">中国婚道·婚嫁产业研究院隶属于婚道（北京）文化传播有限公司，筹建于2015年元月，是中国社会工作联合会婚庆行业委员会的资源输出平台，集职业培训、行业调研、活动组织、信息咨询、行标起草、人资招聘等职能为一体的商业性服务咨询机构。</p>
                            <p class="indent">中国婚道·婚嫁产业研究院联合了诸多知名婚企、国内婚嫁产业知名决策咨询专家、品牌企业、优秀服务团队等资源，并与企业和政府部门有着多方位合作，是中国婚嫁产业最具权威的培训、研究、活动组织、人资输送的资源平台。</p>
                            <p class="indent">同时，研究院积极在学历认证、系统植入、婚嫁产业项目运营等多个领域锐意开拓，致力于打造一个开放、创新、协同、具有广泛影响力的产业经济高端智库平台，为中国婚嫁产业发展提供高水平的知识成果和智力支撑，并以研究创新和政策咨询服务推进创新发展。</p>
                            <p class="indent">在未来的岁月里，研究院将为全国婚礼人搭建职业化、专业化、行业化的个人及企业发展体系，为中国婚庆行业培养出更加专业能力更强的婚庆人才，为中国婚嫁产业的快速发展做出更大的贡献。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/controller/info.js?v=4') }}"></script>
{% endblock %}