{% extends 'base.html.twig' %}

{% block title %}The Fantastic Event{% endblock %}

{% block body %}
    <div class="fe-join">
        <div class="container">
            <div class="row">
                <div class="col-md-2 fe-join-left">
                    <ul>
                        <li class="active"><div>1. 案例信息</div></li>
                        <li><div>2. 案例图文</div></li>
                        <li><div>3. 支付费用</div></li>
                        <li><div>4. 报名成功</div></li>
                    </ul>
                </div>
                <div class="col-md-10 fe-join-right">

                </div>
            </div>
        </div>
    </div>
{% endblock %}