{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-personal" ng-controller="PersonalCasusController" ng-init="init()">
        <div class="container">
            <div class="row">
                <div class="fe-personal-left other">
                    <ul>
                        <li ng-click="jumpToStep(1)"><div>1. 基本信息</div></li>
                        <li class="active" ng-click="jumpToStep(2)"><div>2. 参赛案例</div></li>
                    </ul>
                </div>
                <div class="fe-personal-right narrow">
                    <div class="row fe-m0 fe-pointer" ng-repeat="casusOrder in casusOrderList track by $index" ng-click="openOrder($index)">
                        <div class="col-md-12 personal-order-top" ng-class="{'cancel': casusOrder.valid == false}">
                            <span class="fe-left">案例编号:&nbsp;{[{ casusOrder.guid.substr(0, 8) }]}</span>
                            <span class="fe-right fe-bold" ng-show="casusOrder.valid == true && casusOrder.paid == true">已支付</span>
                            <span class="fe-right fe-bold" ng-show="casusOrder.valid == true && casusOrder.paid == false">未完成</span>
                            <span class="fe-right fe-bold" ng-show="casusOrder.valid == false">已取消</span>
                        </div>
                        <div class="col-md-12 personal-order-bottom fe-p0">
                            <div class="col-md-9">
                                <div class="order-bottom-title">参赛案例</div>
                                <div class="fe-bold">{[{ casusOrder.title }]}</div>
                                <div class="order-bottom-title fe-pt20">选送奖项</div>
                                <div class="order-award" ng-repeat="award in casusOrder.awardList">
                                    <span class="fe-left">{[{ award.name }]}</span>
                                    <span class="fe-right">￥{[{ award.fee }]}</span>
                                </div>
                            </div>
                            <div class="col-md-3 order-bottom-right">
                                合计&nbsp;￥{[{ casusOrder.totalFee }]}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/controller/personal.js') }}"></script>
{% endblock %}