{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-personal" ng-controller="PersonalReceiptController">
        <div class="container">
            <div class="row fe-personal-bg">
                <div class="fe-personal-left">
                    <ul>
                        <li ng-click="jumpToStep(1)"><div>1. 基本信息</div></li>
                        <li ng-click="jumpToStep(2)"><div>2. 参赛案例</div></li>
                        <li ng-click="jumpToStep(3)"><div>3. 典礼门票</div></li>
                        <li class="active" ng-click="jumpToStep(4)"><div>4. 申请发票</div></li>
                    </ul>
                </div>
                <div class="fe-personal-right">
                    <div class="row fe-personal-description fe-m0">
                        <strong>申请发票</strong>
                    </div>
                    <div class="row fe-form fe-m0">
                        <div class="col-xs-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">可申请额度</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" class="fe-disable" ng-model="receiptFee" disabled />
                            </div>
                        </div>
                        <div class="col-xs-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">纳税人识别号</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入纳税人识别号" ng-model="receiptNumber"  ng-class="{'fe-error': numberValid == false}" />
                            </div>
                        </div>
                        <div class="col-xs-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">发票抬头</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入发票抬头" ng-model="receiptTitle"  ng-class="{'fe-error': titleValid == false}" />
                            </div>
                        </div>
                        <div class="col-xs-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">邮寄地址</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入邮寄地址" ng-model="receiptAddress" ng-class="{'fe-error': addressValid == false}" />
                            </div>
                        </div>
                        <div class="col-xs-6 left">
                            <div class="fe-form-top"><span class="fe-form-title">开户行名称</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入开户行名称" ng-model="receiptBankName" ng-class="{'fe-error': bankNameValid == false}"  />
                            </div>
                        </div>
                        <div class="col-xs-6 right">
                            <div class="fe-form-top"><span class="fe-form-title">开户行账号</span></div>
                            <div class="fe-form-bottom">
                                <input type="text" placeholder="在这里输入开户行账号" ng-model="receiptBankNumber" ng-class="{'fe-error': bankNumberValid == false}" />
                            </div>
                        </div>
                        <div class="col-xs-2 col-xs-offset-5 fe-p0 middle fe-pt20">
                            <div class="fe-btn next" ng-click="applyReceipt()" ng-if="receiptFee != 0">申请发票</div>
                            <div class="fe-btn before" ng-click="refuse()" ng-if="receiptFee == 0">申请发票</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('cbwaUser', '{{ cbwaUser | json_encode | escape('js') }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/controller/personal.receipt.js?v=1') }}"></script>
{% endblock %}