{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-ceremony" ng-controller="CeremonyController">
        <div class="container">
            <div class="row">
                <div class="fe-ceremony-left">
                    <ul>
                        <li ng-class="{'active': ceremonyStep == 1}" ng-click="jumpToStep(1)"><div>典礼信息</div></li>
                        <li ng-class="{'active': ceremonyStep == 2}" ng-click="jumpToStep(2)"><div>入围名单</div></li>
                        <li ng-class="{'active': ceremonyStep == 3}" ng-click="jumpToStep(3)"><div>合作品牌</div></li>
                        <li ng-class="{'active': ceremonyStep == 4}" ng-click="jumpToStep(4)"><div>开放售票</div></li>
                    </ul>
                </div>
                <div class="fe-ceremony-right">
                    <div ng-show="ceremonyStep == 1" class="row fe-form fe-m0">
                        1
                    </div>
                    <div ng-show="ceremonyStep == 2" class="row fe-form fe-m0">
                        2
                    </div>
                    <div ng-show="ceremonyStep == 3" class="row fe-form fe-m0">
                        3
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/controller/ceremony.js') }}"></script>
{% endblock %}