{% extends 'base.cbwa.html.twig' %}

{% block title %}全国婚礼作品设计大赛{% endblock %}

{% block body %}
    <div class="fe-info" ng-controller="WorksController" ng-init="getCasusList()">
        <div class="container">
            <div class="row">
                <div class="fe-info-left">
                    <ul>
                        <li ng-class="{'active': awardId == 0}" ng-click="refreshCasusList(0)"><div>热门方案</div></li>
                        <li ng-class="{'active': awardId == -1}" ng-click="refreshCasusList(-1)"><div>明星案例</div></li>
                        <li ng-class="{'active': awardId == award.id}" ng-repeat="award in awardList" ng-click="refreshCasusList(award.id)"><div>{[{ award.name }]}</div></li>
                    </ul>
                </div>
                <div class="fe-info-right">
                    <div class="row fe-m0">
                        <div class="col-md-4 casus-cell" ng-repeat="casus in casusList track by $index" ng-click="jumpToDetail($index)">
                            <div class="cell-top">
                                <img class="fe-width" ng-src="{[{ casus.cover }]}@400w_300h_1e_1c" />
                                <img class="fe-width cover-shade" src="{{ asset('img/fantastic/info/cover_cell.png') }}" />
                                <div class="cover-text" ng-if="casus.totalFee == 0">
                                    发布者:&nbsp;{[{ casus.name }]}
                                </div>
                                <div class="cover-text" ng-if="casus.totalFee != 0">
                                    策划师:&nbsp;{[{ casus.name }]}
                                </div>
                            </div>
                            <div class="cell-bottom">
                                <div class="cell-title">{[{ casus.title }]}</div>
                                <div class="cell-desc">{[{ getShortText(casus.description, 32) }]}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.value('awardList', '{{ awardList | json_encode | escape('js') }}');
    </script>
    <script type="text/javascript" src="{{ asset('js/controller/works.js') }}"></script>
{% endblock %}