// 公共颜色
@white: #ffffff;
@gray-1: #f2f2f2;
@gray-2: #e3e3e3;
@gray-3: #9e9e9e;
@blue-1: #1c9bec;
@blue-2: #0d3168;
@blue-3: #0c203f;
@black: #000000;

// 公共变量
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

// 公共函数
.text-overflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

///* 小屏幕（平板，大于等于 768px） */
//@media (min-width: @screen-sm-min) {
//  .container {
//    width: 750px;
//  }
//}
//
///* 中等屏幕（桌面显示器，大于等于 992px） */
//@media (min-width: @screen-md-min) {
//  .container {
//    width: 970px;
//  }
//}
//
///* 大屏幕（大桌面显示器，大于等于 1200px） */
//@media (min-width: @screen-lg-min) {
//  .container {
//    width: 1030px;
//  }
//}

// 取消自适应
.container {
  width: 1030px;
}

.fe-width {
  width: 100%;
}

.fe-m0 {
  margin: 0;
}

.fe-p0 {
  padding: 0;
}

.fe-pt10 {
  padding-top: 10px;
}

// 公共组件
.fe-header {
  height: 30px;
  background-color: @gray-2;
  .fe-logo-area {
    float: left;
    height: 30px;
    line-height: 10px;
    padding: 10px 20px;
    .fe-logo {
      height: 10px;
    }
  }
  .fe-login-area {
    float: right;
    height: 30px;
    line-height: 10px;
    padding: 10px 0;
    font-size: 12px;
    color: @blue-2;
    &.split {
      text-decoration: none;
    }
    &.register {
      padding-right: 20px;
    }
  }
}

.fe-top {
  height: 140px;
  background-color: @gray-1;
  .fe-big-logo-area {
    float: left;
    height: 140px;
    padding: 8px 0 12px 0;
    line-height: 120px;
    .fe-big-logo {
      height: 120px;
    }
  }
  .fe-intro {
    float: right;
    color: @gray-3;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    padding: 88px 0 12px 0;
    text-decoration: none;
  }
  .fe-title-area {
    float: right;
    padding: 66px 0 14px 8px;
    .fe-title {
      height: 60px;
    }
  }
}

.fe-navigation {
  height: 36px;
  background-color: @blue-2;
  .container {
    position: relative;
  }
  ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      &.active, &:hover {
        background-color: @blue-3;
        .triangle {
          display: block;
        }
      }
      .triangle {
        display: none;
        width: 12px;
        position: absolute;
        &.first {
          margin-left: 44px;
        }
      }
      div {
        positon: relative;
        cursor: pointer;
        color: @white;
        height: 36px;
        line-height: 36px;
        font-size: 10px;
        padding: 0 20px;
      }
    }
  }
  .fe-join-area {
    position: absolute;
    z-index: 1000;
    top: -16px;
    right: -16px;
    .fe-join {
      height: 88px;
    }
  }
}

.fe-footer {
  height: 200px;
  background-color: @blue-2;
}

.fe-bottom {
  height: 100px;
  background-color: @black;
}

// 首页
.fe-video-area {
  background-color: @gray-1;
  .container {
    background: @white;
    .fe-video-topic-area {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 5px;
      .fe-video-topic {
        width: 325px;
      }
    }
    .fe-video-subtopic-area {
      text-align: center;
      color: @gray-3;
      font-size: 14px;
      padding-bottom: 25px;
    }
    .fe-video-row {
      padding: 0 8px;
      &.bottom {
        margin-top: 16px;
        margin-bottom: 25px;
      }
      .col-md-4 {
        padding: 0 8px;
        img {
          height: 240px;
        }
      }
    }
  }
}

.fe-case-area {
  background-color: @gray-1;
  .container {
    background: @white;
    .fe-case-topic-area {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 5px;
      .fe-case-topic {
        width: 325px;
      }
    }
    .fe-case-subtopic-area {
      text-align: center;
      color: @gray-3;
      font-size: 14px;
      padding-bottom: 25px;
    }
    .fe-case-row {
      padding: 0 8px 10px 0;
      .col-md-4 {
        padding: 0 8px;
        .fe-case {
          &.middle {
            margin-top: 20px;
          }
          .fe-case-title {
            font-size: 20px;
            color: @blue-2;
            line-height: 36px;
            font-weight: bold;
          }
          .fe-case-description {
            font-size: 14px;
            color: @gray-3;
            line-height: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}

// 注册
.fe-register {
  background-color: @gray-1;
  .container {
    padding: 25px 160px 100px 160px;
    background: @white;
    .fe-register-title {
      font-size: 20px;
      color: @blue-2;
      font-weight: bold;
    }
    .fe-register-description {
      padding-top: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid @gray-2;
    }
  }
}

// 报名
.fe-apply {
  background-color: @gray-1;
  .fe-apply-left {
    width: 170px;
    float: left;
    background-color: @gray-2;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: 60px;
        color: @black;
        &.active, &:hover {
          color: @white;
          background-color: @blue-1;
        }
        div {
          cursor: pointer;
          height: 60px;
          line-height: 60px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
  .fe-apply-right {
    background: @white;
    width: 860px;
    padding: 25px 50px 75px 50px;
    float: left;
  }
}

// 表单
.fe-form {
  .col-md-6 {
    &.left {
      padding: 10px 8px 10px 0;
    }
    &.right {
      padding: 10px 0 10px 8px;
    }
    &.pt-left {
      padding: 10px 8px 0 0;
    }
    &.pt-right {
      padding: 10px 0 0 8px;
    }
  }
  .col-md-12 {
    padding: 10px 0;
  }
  .fe-form-top {
    height: 20px;
    .fe-form-title {
      color: @blue-1;
      float: left;
      line-height: 20px;
      font-size: 14px;
    }
    .glyphicon {
      color: @blue-1;
      float: left;
      line-height: 20px;
      font-size: 14px;
    }
  }
  .fe-form-bottom {
    padding-top: 10px;
    overflow: auto;
    &.pt0 {
      padding-top: 0;
    }
    input {
      width: 100%;
      height: 45px;
      border-radius: 4px;
      border: 1px solid @gray-2;
      padding: 10px;
      font-size: 14px;
    }
    textarea {
      width: 100%;
      border-radius: 4px;
      border: 1px solid @gray-2;
      padding: 10px;
      font-size: 14px;
      resize: none;
    }
    select {
      background-color: @white;
      width: 100%;
      height: 45px;
      border-radius: 4px;
      border: 1px solid @gray-2;
      font-size: 14px;
    }
    .fe-choose {
      cursor: pointer;
      width: 100%;
      height: 45px;
      border-radius: 4px;
      border: 1px solid @gray-2;
      font-size: 14px;
      padding: 10px;
      line-height: 25px;
      &.apply {
        color: @white;
        background-color: @blue-1;
      }
    }
  }
  .fe-btn {
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    padding: 10px;
    line-height: 25px;
    &.next {
      background: @blue-2;
      color: @white;
    }
  }
}