// 公共颜色
@white: #ffffff;
@gray-1: #f9f9f9;
@gray-2: #a9a9a9;
@gray-3: #787878;
@gray-4: #525252;
@gray-5: #c1c1c1;
@pink-1: #f89670;
@pink-2: #fff5f3;
@gold-1: #ba882a;

// 公共函数
.border-radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.m-p0 {
  padding: 0 !important;
}

.m-width {
  width: 100%;
}

.m-half {
  width: 50%;
}

.m-left {
  text-align: left;
}

.m-right {
  text-align: right;
}

.m-center {
  text-align: center;
}

.m-plr14 {
  padding: 0 0.875rem !important;
}

.m-t-1 {
  margin-top: 1rem !important;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.75rem;
  font-family: "Microsoft YaHei", simhei;
}

.col-xs-12 {
  padding: 0 1rem;
}

// 咨询
.m-consult {
  position: relative;
  .consult-top {
    padding: 0;
    .consult-cover {
      width: 100%;
      height: 17.875rem;
    }
  }
  .consult-circle {
    padding: 0;
    margin-top: -2.0625rem;
  }
  .consult-title {
    font-size: 0.875rem;
    color: @gray-4;
    padding: 1rem 0;
    text-align: center;
  }
  .consult-types {
    padding: 0 0.4375rem;
    .col-xs-3 {
      padding: 0 0.4375rem;
    }
    .consult-type {
      cursor: pointer;
      height: 4.765625rem;
      border-radius: 0.25rem;
      border: 0.5px solid @pink-1;
      .type-img {
        text-align: center;
        margin-top: 1rem;
        height: 1.875rem;
        img {
          height: 1.875rem;
        }
      }
      .type-text {
        color: @gray-2;
        line-height: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
        text-align: center;
      }
      &.active {
        background-color: @pink-1;
        .type-text {
          color: @white;
        }
      }
    }
  }
  .consult-telephone {
    font-size: 0.875rem;
    color: @gray-2;
    margin-top: 0.625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.875rem;
  }
  .consult-input {
    width: 100%;
    height: 2.5rem;
    background-color: @pink-2;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem;
    color: @gray-3;
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  .consult-bottom {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    img {
      width: 23.4375rem;
    }
  }
}

// 视频分享
.m-share-video {
  padding-top: 1rem;
  .title {
    text-align: center;
    color: @gold-1;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .sub-title {
    color: @gray-3;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }
}

// 资讯分享
.m-share-poster {
  padding-top: 1rem;
  background-color: @white;
  .po-theme-dark {
    position: absolute;
    bottom: 1.2rem;
    right: 0.9rem;
    color: @gray-2;
    font-size: 0.75rem;
    text-align: right;
  }
  .po-up-title {
    color: @gold-1;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
  }
  .po-up-title-desc {
    color: @gray-3;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }
  .po-sub-title {
    color: @gold-1;
    font-size: 1.125rem;
    margin: 0.625rem 0rem;
    text-align: center;
  }
  /* 图注渐变：左->右 */
  .po-legend-l2r {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.625rem;
    padding: 8px 12px;
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* IE 10 */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* 火狐 */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* google Safari5.1 Chrome 10+ */
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* Opera 11.10+ */
  }
  /* 图注渐变：右->左 */
  .po-legend-r2l {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.625rem;
    padding: 8px 12px;
    background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* IE 10 */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* 火狐 */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* google Safari5.1 Chrome 10+ */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* Opera 11.10+ */
  }
  .po-text-dark {
    color: @gray-3;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 1.5rem 0rem;
  }
}

// 公共下载按钮
.share-bottom {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  img {
    width: 23.4375rem;
  }
}

.author-area {
  line-height: 1.5625rem;
  color: @gray-5;
  font-size: 0.625rem;
  padding-bottom: 6rem;
  background-color: @gray-1;
  text-align: center;
  margin-top: 0.625rem;
  .author {
    background: url('../img/mobile/share/video_bottom.png') no-repeat;
    background-size: 100%;
    .avatar {
      margin-top: -0.5rem;
      padding: 0.5rem;
      height: 4.75rem;
      .border-radius(2.385rem);
      background: url('../img/mobile/share/bg_header.png') no-repeat;
      background-size: 100%;
      &.and-v {
        margin-right: -2rem;
      }
    }
    .big-v {
      width: 2rem;
      margin-top: 2rem;
    }
  }
  .editor {
    color: @gold-1;
    font-size: 0.875rem;
  }
}