// 公共颜色
@white: #ffffff;
@gray-1: #f9f9f9;
@gray-2: #a9a9a9;
@gray-3: #787878;
@gray-4: #525252;
@gray-5: #c1c1c1;
@pink-1: #f89670;
@pink-2: #fff5f3;
@blue-1: #1c9bec;
@blue-2: #0d3168;
@gold-1: #ba882a;

// 公共函数
.border-radius(@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.m-p0 {
  padding: 0 !important;
}

.m-m0 {
  margin: 0 !important;
}

.m-width {
  width: 100%;
}

.m-half {
  width: 50%;
}

.m-left {
  text-align: left;
}

.m-right {
  text-align: right;
}

.m-center {
  text-align: center;
}

.m-plr14 {
  padding: 0 0.875rem !important;
}

.m-m-t-1 {
  margin-top: 1rem !important;
}

.m-m-t-10 {
  margin-top: 0.625rem !important;
}

.m-m-t-6 {
  margin-top: 0.375rem !important;
}

.m-p-1 {
  padding: 1rem !important;
}

.m-p-6 {
  padding: 0.375rem !important;
}

.m-p-12 {
  padding: 0.75rem !important;
}

.m-p0 {
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 0.75rem;
  font-family: "Microsoft YaHei", simhei;
}

.col-xs-12 {
  padding: 0 1rem;
}

// 咨询
.m-consult {
  position: relative;
  padding-bottom: 6rem;
  .consult-top {
    padding: 0;
    .consult-cover {
      width: 100%;
      height: 17.875rem;
    }
  }
  .consult-circle {
    padding: 0;
    margin-top: -2.0625rem;
  }
  .consult-title {
    font-size: 0.875rem;
    color: @gray-4;
    padding: 1rem 0;
    text-align: center;
  }
  .consult-types {
    padding: 0 0.4375rem;
    .col-xs-3 {
      padding: 0 0.4375rem;
    }
    .consult-type {
      cursor: pointer;
      height: 4.765625rem;
      border-radius: 0.25rem;
      border: 0.5px solid @pink-1;
      .type-img {
        text-align: center;
        margin-top: 1rem;
        height: 1.875rem;
        img {
          height: 1.875rem;
        }
      }
      .type-text {
        color: @gray-2;
        line-height: 1.5625rem;
        height: 1.5625rem;
        font-size: 0.75rem;
        text-align: center;
      }
      &.active {
        background-color: @pink-1;
        .type-text {
          color: @white;
        }
      }
    }
  }
  .consult-telephone {
    font-size: 0.875rem;
    color: @gray-2;
    margin-top: 0.625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.875rem;
  }
  .consult-input {
    width: 100%;
    height: 2.5rem;
    background-color: @pink-2;
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem;
    color: @gray-3;
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
  .consult-bottom {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    img {
      width: 23.4375rem;
    }
  }
}

// 视频分享
.m-share-video {
  padding-top: 1rem;
  .title {
    text-align: center;
    color: @gold-1;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .sub-title {
    color: @gray-3;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }
}

// 资讯分享
.m-share-poster {
  padding-top: 1rem;
  background-color: @white;
  .po-theme-dark {
    position: absolute;
    bottom: 1.2rem;
    right: 0.9rem;
    color: @gray-2;
    font-size: 0.75rem;
    text-align: right;
  }
  .po-up-title {
    color: @gold-1;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
  }
  .po-up-title-desc {
    color: @gray-3;
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }
  .po-sub-title {
    color: @gold-1;
    font-size: 1.125rem;
    margin: 0.625rem 0rem;
    text-align: center;
  }
  /* 图注渐变：左->右 */
  .po-legend-l2r {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.625rem;
    padding: 8px 12px;
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* IE 10 */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* 火狐 */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* google Safari5.1 Chrome 10+ */
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* Opera 11.10+ */
  }
  /* 图注渐变：右->左 */
  .po-legend-r2l {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 0.625rem;
    padding: 8px 12px;
    background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* IE 10 */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* 火狐 */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* google Safari5.1 Chrome 10+ */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5) 10%, rgba(255, 255, 255, 0.1) 100%); /* Opera 11.10+ */
  }
  .po-text-dark {
    color: @gray-3;
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 1.5rem 0rem;
  }
}

// 秀爱分享
.m-share-photo {
  background-color: @gray-1;
  .top-area {
    background-color: @white;
    margin: 0.25rem;
    .border-radius(0.25rem);
  }
  .author {
    position: relative;
    float: left;
    width: 3rem;
    .avatar {
      height: 3rem;
      .border-radius(1.5rem);
    }
    .big-v {
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      width: 1.5rem;
    }
  }
  .user-area {
    float: left;
    width: 17.9375rem;
    margin-left: 0.5rem;
    position: relative;
    .area-top {
      line-height: 3rem;
      font-size: 0.875rem;
      color: @gray-2;
      &.with-desc {
        line-height: 1rem;
        padding-top: 0.5rem;
      }
    }
    .area-bottom {
      font-size: 0.875rem;
      color: @gray-4;
      padding-top: 0.25rem;
      line-height: 1.25rem;
    }
    .area-time {
      font-size: 0.625rem;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0.25rem;
      color: @gray-2;
    }
  }
  .url-list {
    padding: 0 0.75rem;
    .col-xs-4, .col-xs-6, .col-xs-8 {
      padding: 0.125rem;
    }
  }
  .favor-list {
    margin-top: 0.875rem;
    margin-bottom: 0.5rem;
    padding: 0;
    .icon-list {
      width: 1.875rem;
    }
    .mini-avatar {
      width: 1.75rem;
      margin-right: 0.25rem;
      .border-radius(5rem);
    }
    .icon-next {
      margin-right: 0.25rem;
      width: 1.75rem;
    }
    .favor-number {
      float: right;
      margin-top: -0.375rem;
      .number-top {
        text-align: center;
        img {
          width: 1.25rem;
        }
      }
      .number-bottom {
        padding-top: 0.25rem;
        font-size: 0.625rem;
        color: @gray-2;
        text-align: center;
      }
    }
  }
}

.comment-list {
  margin: 0;
  padding-bottom: 6rem;
  .comment-title {
    font-size: 0.875rem;
    color: @gold-1;
    text-align: center;
    margin: 1rem 0 0 0;
  }
  .photo-comment {
    .comment-row {
      padding: 1rem 0;
      height: 5rem;
      border-bottom: 0.5px solid rgba(193, 193, 193, 0.3);
      .comment-left {
        position: relative;
        float: left;
        width: 3rem;
        height: 3rem;
        .avatar {
          height: 3rem;
          .border-radius(1.5rem);
        }
        .big-v {
          position: absolute;
          z-index: 10;
          bottom: 0;
          right: 0;
          width: 1.5rem;
        }
      }
      .comment-right {
        float: left;
        width: 17.9375rem;
        margin-left: 0.5rem;
        position: relative;
        .area-top {
          line-height: 3rem;
          font-size: 0.875rem;
          color: @gray-2;
          &.with-desc {
            line-height: 1rem;
            padding-top: 0.5rem;
          }
        }
        .area-bottom {
          font-size: 0.875rem;
          color: @gray-4;
          padding-top: 0.25rem;
          line-height: 1.25rem;
        }
        .area-time {
          font-size: 0.625rem;
          position: absolute;
          z-index: 10;
          top: 0;
          right: 0.25rem;
          color: @gray-2;
        }
      }
    }
  }
  .default-comment {
    padding: 1.25rem 0 6.5rem 0;
    color: @gray-5;
    background-color: @gray-1;
    text-align: center;
    img {
      width: 1.875rem;
      margin-bottom: 0.3125rem;
    }
  }
}

// 公共下载按钮
.share-bottom {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  z-index: 100;
  img {
    width: 23.4375rem;
  }
}

// 投票区
.vote-area {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 3rem;
  background-color: @white;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  .left-area {
    float: left;
    width: 30%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    color: @gray-3;
  }
  .right-area {
    float: right;
    width: 70%;
    text-align: center;
    background-color: @white;
    height: 3rem;
    padding: 0.25rem;
    .inner-area {
      background-color: @blue-1;
      color: @white;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}

.fe-works {
  .works-nav {
    text-align: center;
    background-color: @gray-1;
    color: @gray-3;
    height: 4.5rem;
    font-size: 0.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
    &.active {
      background-color: @blue-1;
      color: @white;
    }
  }
  .casus-cell {
    padding: 0 0.375rem;
    cursor: pointer;
    .cell-top {
      position: relative;
      .cover-shade {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
      }
      .cover-top {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        height: 2.25rem;
        line-height: 2.25rem;
        font-size: 0.75rem;
        padding-right: 0.75rem;
        color: @white;
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
      }
      .cover-text {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 20;
        height: 2.25rem;
        line-height: 2.25rem;
        font-size: 0.75rem;
        padding-left: 0.75rem;
        color: @white;
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
      }
    }
    .cell-bottom {
      .cell-title {
        color: @blue-2;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5rem;
        height: 1.875rem;
        padding-top: 0.25rem;
      }
      .cell-desc {
        height: 2.5rem;
        line-height: 1.25rem;
        color: @gray-3;
        overflow: hidden;
        margin-bottom: 0.25rem;
      }
    }
  }
  .rules {
    background: @gray-1;
    .rules-img {
      padding: 1.25rem 0 0.75rem 0;
      height: 3.35rem;
    }
    p {
      text-align: center;
      color: @gray-3;
    }
  }
  .load-more {
    margin-top: 0.125rem;
    margin-bottom: 1rem;
  }
}

// 案例
.fe-casus {
  background-color: @gray-1;
  .cover {
    position: relative;
    .cover-shade {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
    }
    .cover-text {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1rem;
      padding-left: 1rem;
      color: @white;
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    }
  }
  .casus-content {
    padding: 0;
    background-color: @white;
    .content-left {
      padding: 0 1rem 1rem 1rem;
      border-right: 1px solid @gray-1;
      font-size: 0.75rem;
      .casus-description {
        padding: 1rem 1rem;
        color: @gray-3;
        font-style: italic;
      }
      .casus-content {
        p {
          line-height: 1.25rem !important;
          margin: 0 0 0.5rem !important;
        }
        padding: 0;
        color: @gray-4;
        img {
          width: 100%;
        }
      }
    }
    .content-right {
      padding: 1rem;
      font-size: 0.75rem;
      .glyphicon {
        color: @blue-1;
      }
      .desc-title {
        margin-left: 0.125rem;
        color: @blue-1;
      }
      .desc-content {
        line-height: 1.25rem;
        color: @gray-3;
        font-weight: bold;
        padding: 0;
      }
      .row {
        padding-bottom: 0.25rem;
        border-bottom: 1px solid @gray-1;
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

.author-area {
  line-height: 1.5625rem;
  color: @gray-5;
  font-size: 0.625rem;
  padding-bottom: 6rem;
  background-color: @gray-1;
  text-align: center;
  margin-top: 0.625rem;
  .author {
    background: url('../img/mobile/share/video_bottom.png') no-repeat;
    background-size: 100%;
    .avatar {
      margin-top: -0.5rem;
      padding: 0.5rem;
      height: 4.75rem;
      .border-radius(2.385rem);
      background: url('../img/mobile/share/bg_header.png') no-repeat;
      background-size: 100%;
      &.and-v {
        margin-right: -2rem;
      }
    }
    .big-v {
      width: 2rem;
      margin-top: 2rem;
    }
  }
  .editor {
    color: @gold-1;
    font-size: 0.875rem;
  }
}

// 按钮
.m-btn {
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  padding: 0 0.625rem;
  line-height: 2.5rem;
  &.before {
    background: @gray-3;
    color: @white;
  }
  &.next {
    background: @blue-2;
    color: @white;
  }
  &.code {
    background: @blue-1;
    color: @white;
  }
  &.vote {
    width: 50%;
    margin-left: 25%;
    background: @white;
    color: @blue-1;
    border: 1px solid @blue-1;
    height: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
  }
  &.about {
    width: 50%;
    margin-left: 25%;
    background: @white;
    color: @blue-1;
    border: 1px solid @blue-1;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
  }
}
