<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>时尚致爱邀您制作新春图片</title>-->
<!--</head>-->
<!--<body>-->

<div class="face-body" ui-view></div>

<!--</body>-->
<!--</html>-->